name: Deploy App Project

run-name: Deploy to ${{ inputs.deploy_target }} by @${{ github.actor }}

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'


jobs:
  dump_contexts_to_log:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: set up java env
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: run maven test
        run: mvn clean test

      - name: run maven package
        run: mvn clean package

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: deploy artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-jar
          path: target/*.jar

  build-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Run if previous jobs failed
        if: ${{ failure() }}
        run: echo "Previous job failed"

      - name: Run if previous jobs succeeded
        if: ${{ success() }}
        run: |
          JAR_FILE=$(ls)
          echo "Found JAR: $JAR_FILE"


